In [1]:
from IPython.display import Image, HTML
import pandas as pd

In [3]:
metadata = pd.read_csv('movies_metadata.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
metadata['poster_path'] = "<img src='" + 'http://image.tmdb.org/t/p/w185/' + metadata['poster_path'] + "' style='height:100px;'>"

In [ ]:
'http://image.tmdb.org/t/p/w185//rhIRbceoE9lR4veEXuwCC2wARtG.jpg'

In [7]:
gross_top = metadata[['poster_path', 'title', 'budget', 'revenue']].sort_values('revenue', ascending=False).head(10)
pd.set_option('display.max_colwidth', 100)
HTML(gross_top.to_html(escape=False))

In [8]:
type(gross_top)

pandas.core.frame.DataFrame

In [11]:
type(metadata['poster_path'])

pandas.core.series.Series

In [12]:
type(metadata)

pandas.core.frame.DataFrame

In [13]:
image_s = pd.Series({'a' : 'image_crawl'})

In [14]:
db = pd.DataFrame(image_s)

In [15]:
type(image_s)

pandas.core.series.Series

In [16]:
type(db)

pandas.core.frame.DataFrame

In [21]:
db['image_crawl'] = "<img src='" + 'http://coop.foodsafetykorea.go.kr/adminfacillity/commonmngt/selectImageViewer.do?fSeq=742439.jpg' + "' style='height:100px;'>"

In [22]:
pd.set_option('display.max_colwidth', 100)
HTML(db.to_html(escape=False))

In [24]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "http://coop.foodsafetykorea.go.kr/adminfacillity/commonmngt/selectImageViewer.do?fSeq=742439")